<?xml version='1.0' encoding='utf-8'?>
<widget id="org.pjcone.liss22" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>즐거웠던 어제는 안녕</name>
    <description>깃 호스팅용 홈페이지 생성</description>
    <author email="liss22@hanmail.net" href="https://is2you2.github.io/">liss22</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
</widget>
